body {
background-color: pink;
}

p {
  font-size: 18px;
}

li {
  font-size: 22px;
}

#aboutMe {
  font-family: sans-serif;
  font-size: 30px;
  color: deepPink;
}

#aboutMe:hover {
  color: blanchedAlmond;
  transition: .5s;
  cursor: pointer;
}

/* We are using a class here, instead of ID */
/* This container will hold our items */
.containerMenu {
  height: 100%;
  width: 100%;
  display: flex;
}

/* We are using only two items, so we allocate 50% space for each item */
/* Margin-right so the two items aren't stacked right next to each other */
.leftMenu {
  width: 50%;
  margin-right: 20px;
}

.rightMenu {
  width: 50%;
}
